.html-text {
  height: 100%;
  overflow: auto;
  flex: 1 1 auto;
  padding-top: 5px;
}

.html-text .line.current-line {
  padding-left: 4px;
  margin-left: -10px;
  border-left: 6px solid rgba(255, 0, 0, .4);
}

.html-text .line span {
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
  line-height: 40px;
  letter-spacing: 1px;
  word-break: break-all;
}

.html-text .line span:last-child(:not .empty-place) {
  min-width: 20px;
  min-height: 40px;
  padding-right: 10px;
}

.html-text .diff {
  color: red;
}

.html-text .same {
  color: black;
}

.html-text .selected {
  color: green;
}

.html-text .variant {
  color: black;
}

.html-text span.empty-place {
  border: 0;
  width: 4px;
  height: 24px;
  padding: 0 4px;
  margin: -4px 2px;
  line-height: 22px;
  background-color: var(--Brown_Darker);
}

.html-text span.empty-place.selected {
  background-color: green;
}

.html-text .current-span {
  border: 1px solid #C1C1C1;
}

.html-text .variant-highlight {
  color: blue;
}

.html-text .hidden {
  display: none;
}

.html-text .delete {
  display: none !important;
}

.text-editable {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.6);
  background: transparent !important;
}

.line-no-head {
  min-width: 4px;
  min-height: 15px;
  background-color: #eee;
}

.mismatch span:last-child {
  padding-right: 8px;
  border-right: 1px solid red;
}
